.mainDiary {
	height: 100%;
	position: relative;
}

.articles {
	text-align: right;
	width: 60%;
	height: 100%;
	margin: 0 0 0 15%;
}

.articles p {
	text-align: left;
}

.articles a {
	background: rgba(200, 200, 200, 0.1);
	padding: 3px 5px 2px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	
}

.articles a:hover {
	background: none;
}

.back {
	top: 0;
	margin: 0;
	background-color: #1d1d1d;
	width: 10%;
	height: 100%;
	position: fixed;
}

.back a {
	color: #303030;
	letter-spacing: 20px;
	opacity: 0.7; 
	font-size: 25vh;
	display: block;
	margin: 70vh 0 0 0;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}

.back a:hover {
	text-decoration: none;
	color: #404040;
	transition: all 0.5s;
}

.user {
	top: 0;
	width: 200px;
	height: 200px;
	position: fixed;
	margin: 0 0 0 85%;	
}